@model IEnumerable<dz1Plakas.Models.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Front/Index.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seokey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seods)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ing)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seokey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seods)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ing)
            </td>
           
        </tr>
}
    </tbody>
</table>
